## Problem 1 - Basic statistics of the data (2 points)

In this problem your task is to open and explore an NOAA weather data file using pandas. The data file name is `6153237444115dat.csv` and it is located in the `data` folder in this repository. 

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:


**Your score on this problem will be based on following criteria:**

- Importing the pandas module
- Reading the data using pandas into a variable called `data`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 

Your first task is to import pandas and read in the data file.

- Import the pandas module
- Read the data into a variable called `data` using pandas 

**Hint**: When reading the data, you need to consider a couple of things:

- The input file is located in the `data` folder, and you need to include this in the filepath when reading the file to pandas
- No-data values are specified with varying number of `*` characters in the input file. You can tell this to pandas by specifying the following parameter in the pandas `read_csv()` function: `na_values=['*', '**', '***', '****', '*****', '******']`

In [ ]:
data = None

# YOUR CODE HERE

In [ ]:
data.head()

### Part 2 

In the cell below, fill in the variables values to print answers to these questions:

- How many rows is there in the data (variable `rows`)?
- What are the column names (variable `column_names`)?
- What are the datatypes of the columns (variable `column_datatypes`)?

In [ ]:
row_count = None
column_names = None
column_datatypes = None

# YOUR CODE HERE

In [ ]:
# Print the number of rows in the dataframe:
print(f"There are {row_count} rows")

In [ ]:
# Print the column names:
print(f"The columns are: \n{column_names}")

In [ ]:
# Print the column datatypes:
print(f"The column types are: \n{column_datatypes}")

### Part 3

In the cell below, fill in the variables values to print answers to these questions:

- What is the mean Fahrenheit temperature in the data (`temp_mean` variable calculated from the `TEMP` column)?
- What is the standard deviation of the maximum temperature (`temp_max_std` variable calculated from the `MAX` column)?
- How many unique stations exists in the data (`station_count` variable calcualted from the `USAF` column)?

In [ ]:
# Calculate mean temperature
temp_mean = None

# Calculate standard deviaton of the maximum temperature:
temp_max_std = None

#Calculate number of unique stations:
station_count = None

# YOUR CODE HERE

In [ ]:
# Check mean temperature value
print(f"The mean temperature in Fahrenheit is {round(temp_mean,1)}")

In [ ]:
# Check standard deviation value
print(f"The standard deviation of maximum temperature is {round(temp_max_std, 1)}")

In [ ]:
# Check number of stations value
print(f"The number of unique stations is {station_count}")

## Problem 2 - Data manipulation and selection 

In this problem you will clean the data from our data file by removing no-data values, convert temperature values in Fahrenheit to Celsius, and split the data into separate datasets using the weather station identification code. We will start this problem by cleaning and converting our temperature data. Please perform the tasks below by writing your code into the code cells in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:



**Your score on this problem will be based on following criteria:**

- Creating a new dataframe called `selected` that contains select columns from the data file
- Cleaning the new dataframe by removing no-data values
- Creating a new column for temperatures converted from Fahrenheit to Celsius
- Dividing the data into separate dataframes for the Helsinki Kumpula and Rovaniemi stations
- Saving the new dataframes to CSV files
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1

The first step for this problem is to read the data file `6153237444115dat.csv` again into a variable `data` using pandas. Remember to specify the no-data values (you can copy your code from Problem 1).

In [ ]:
data = None

# YOUR CODE HERE

Check that the first rows of the DataFrame look ok:

Check the number of rows in the DataFrame:

### Part 2 

Next, your task is to subset the data and remove rows with missing temperature values.

- Select the columns `USAF`, `YR--MODAHRMN`, `TEMP`, `MAX`, and `MIN` from the `data` dataframe and assign them to the variable `selected`
- Remove all rows from `selected` that have NoData in the column `TEMP` using the `dropna()` function

In [ ]:
selected = None

# YOUR CODE HERE

Check that you selected the correct column names:

In [ ]:
selected.head()

Check how many rows you have after removing the no-data values:

### Part 3 

Next, you can convert the temperature values in Fahrenheit to Celsius.

- Create a new column in `selected` called `Celsius`
- Convert the Fahrenheit temperatures from `TEMP` using the conversion formula below and store the results in the new `Celsius` column.

$$
\Large
\begin{equation}
  T_{\mathrm{Celsius}} = (T_{\mathrm{Fahrenheit}} - 32)~/~1.8
\end{equation}
$$

- Round the values in the `Celsius` column to have 0 decimals (**do not** create a new column, update the current one)
- Convert the `Celsius` values into integers (**do not** create a new column, update the current one)

In [ ]:
# YOUR CODE HERE

In [ ]:
# Check your dataframe

In [ ]:
# Check data types

### Part 4 

Your next task is to divide `selected` into two separate dataframes. Please use the given variable names and write your answer in the code cell below.

- Select all rows from the `selected` DataFrame with the `USAF` code `29980` and store them in a variable called `kumpula`
- Select all rows from the `selected` DataFrame with the `USAF` code `28450` and store them in a variable called `rovaniemi`

In [ ]:
kumpula = None
rovaniemi = None

# YOUR CODE HERE

In [ ]:
# Check the dataframe
print(f"Kumpula: \n{kumpula.head()}\n")

In [ ]:
# Check the dataframe
print(f"Rovaniemi: \n{rovaniemi.head()}\n")

### Part 5 

Now you can save your selections to csv files.

- Save the `kumpula` DataFrame in the file `Kumpula_temps_May_Aug_2017.csv` (CSV format)
- Save the `rovaniemi` DataFrame in the file `Rovaniemi_temps_May_Aug_2017.csv` (CSV format)

For each file, be sure to 

- Separate the columns with commas (`,`)
- Use only 2 decimals for the floating point numbers

In [ ]:
# YOUR CODE HERE

In [ ]:
#Read-only cell for hidden tests :)

### Problem 2 summary

- Was anything unclear to you in Problem 2?
- Did you encounter any problems with decimal formatting?

Also, make sure you:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5 (including your 2 new data files)

## Problem 3 - Data analysis 

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the code cells in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

   


**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Helsinki Kumpula and Rovaniemi for the summer of 2017
- Selecting temperatures for May and June 2017 in separate dataframes for each location
- Printing out some summary values for each month (May, June) and location (Kumpula, Rovaniemi)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `kumpula` and `rovaniemi`

In [ ]:
kumpula = None
rovaniemi = None
# YOUR CODE HERE

In [ ]:
print(kumpula.head())
print("")
print(rovaniemi.head())

### Part 2 

Next you can find the *median temperatures* for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Helsinki Kumpula? (store the answer in a variable `kumpula_median`)
    - Rovaniemi? (store the answer in a variable `rovaniemi_median`)

In [ ]:
kumpula_median = None
rovaniemi_median = None

# YOUR CODE HERE

In [ ]:
# Prints the median temperatures
print(f"Kumpula median: {kumpula_median}")
print(f"Rovaniemi median: {rovaniemi_median}")

### Part 3 

The median temperatures above consider data from the entire summer (May-Aug), hence the differences might not be so clear. Let's now find the *mean temperatures* from May and June 2017 in Kumpula and Rovaniemi.

- From the `kumpula` and `rovaniemi` DataFrames, select the rows where values of the `YR--MODAHRMN` column are from May 2017
    - Assign these selected rows to the variables `kumpula_may` and `rovaniemi_may` (you can check the 
- Repeat the procedure for the month of June and assign those values to variables to `kumpula_june` and `rovaniemi_june`

In [ ]:
# Select the subset of the Kumpula and Rovaniemi data for the 5th and 6th month
kumpula_may = None
rovaniemi_may = None

kumpula_june = None
rovaniemi_june = None

# YOUR CODE HERE

In [ ]:
rint(f"First values in May, Kumpula:\n{kumpula_may.head()}\n")
print(f"Last values in May, Kumpula:\n{kumpula_may.tail()}")

In [ ]:
print(f"First values in June, Kumpula:\n{kumpula_june.head()}\n")
print(f"Last values in June, Kumpula:\n{kumpula_june.tail()}")

In [ ]:
print(f"First values in May, Rovaniemi:\n{rovaniemi_may.head()}\n")
print(f"Last values in May, Rovaniemi:\n{rovaniemi_may.tail()}")

In [ ]:
print(f"First values in June, Rovaniemi:\n{rovaniemi_june.head()}\n")
print(f"Last values in June, Rovaniemi:\n{rovaniemi_june.tail()}")

### Part 4

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in May and June using the new subset dataframes (`kumpula_may`, `rovaniemi_may`, `kumpula_june`, and `rovaniemi_june`).

In [ ]:
# YOUR CODE HERE

## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for those who want more practice.**

This problem is more challenging as we provide only minimal instructions for completing the given tasks. You will need to search through the pandas documentation (and other resources) for help. We will cover data aggregation in more detail during Lesson 6, so this is a good opportunity to get a head start for next week!

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to the daily level. Currently, there are (at most) 3 measurements per hour in the data as you can see from the `YR--MODAHRMN` column (Year-Month-Day-Hour-Minute in Greenwich Mean Time (GMT):

```
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1
```

The output should contain mean, max, and min Celsius temperatures for each day (for example, one mean temperature value for the 1st of May and so on).

### What to do

- Your task is to summarize the information for each day by aggregating (grouping) the DataFrame.
- The output should be a new DataFrame where you have calculated the mean, max, and min Celsius temperatures for each day separately based on hourly values.
- Repeat the task for the two data sets you created in Problem 2 (May-August temperatures from Rovaniemi and Kumpula).

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub