# Exercise 6: Weather anomalies 

The aim of this exercise is to analyze historical weather data.
- In Problem 1 you read in a tricky data file and explore it's contents.
- In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius.
- In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

### Tips for completing this exercise

- Use **exactly** the same variable names as in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.
- **Please do not**:

## Problem 1 - Reading in a tricky data file 

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.



**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 

You should start by loading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [ ]:
ata = None

# YOUR CODE HERE

In [ ]:
# Check that the dataframe looks ok:
data.head()

In [ ]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

### Part 2 

In this section, you will calculate some basic statistics of the input data.

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`

In [ ]:
tavg_nodata_count = None

# YOUR CODE HERE

In [ ]:
# Print out the solution:
print(f'Number of no-data values in column "TAVG": {tavg_nodata_count}')

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [ ]:
tmin_nodata_count = None

# YOUR CODE HERE

In [ ]:
# Print out the solution:
print(f'Number of no-data values in column "TMIN": {tmin_nodata_count}')

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [ ]:
day_count = None

# YOUR CODE HERE

In [ ]:
# Print out the solution:
print(f'Number of days: {day_count}')

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [ ]:
first_obs = None

# YOUR CODE HERE

In [ ]:
# Print out the solution:
print(f'Date of the first observation: {first_obs}')

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [ ]:
last_obs = None

# YOUR CODE HERE

In [ ]:
# Print out the solution:
print(f'Date of the last observation: {last_obs}')

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [2]:
vg_temp = None

# YOUR CODE HERE

In [ ]:
 Print out the solution:
print(f'Average temperature (F) for the whole dataset: {round(avg_temp, 2)}')

- Find the average `TMAX` temperature over the [Summer of '69]( (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [ ]:
avg_temp_1969 = None

# YOUR CODE HERE

In [ ]:
# This test print should print a number
print(f"Average temperature (F) for the Summer of '69: {round(avg_temp_1969, 2)}")

## Problem 2 - Calculating monthly average temperatures 

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.


- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do

In [ ]:
monthly_data = None

# YOUR CODE HERE

In [ ]:
# This test prints the length of variable monthly_data
print(len(monthly_data))

In [ ]:
# This test prints the column names of monthly_data
print(monthly_data.columns.values)

In [ ]:
# This test prints the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

In [ ]:
# This test prints the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

## Problem 3 - Calculating temperature anomalies 

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to an observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1

- Calculating ***the average (mean) temperature for each month (e.g., January, February, March, ...) over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table and figure below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius.
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join**  between `monthly_data` and `ref_temps` based on the month.
    - The temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`).
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame:

1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the mean temperature during the reference period (e.g., the average of all Februaries between 1952 and 1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

A summary of the relationships between the `monthly_data` and `reference_temps` DataFrames, as well as how the `diff` value should be calculated in the `monthly_data` DataFrame is presented in the figure below.

![Exercise 6 dataframes](img/exercise-6-dataframes.png)<br/>
*Figure 1. Relationships between the `monthly_data` and `reference_temps` DataFrames.*

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code.

In [ ]:
# YOUR CODE HERE

In [ ]:
# Check the monthly data:

In [ ]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

Remember also to calculate which month had the largest temperature anomaly during the observed time period in comparison with the reference data. Use the cell below to calculate and print out the answers. Note, you may want to consider the largest absolute value of the temperature anomaly, as well as the largest positive and negative anomalies.